<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite">
    <test verbose="2" preserve-order="true" name="/home/sheetal/IdeaProjects/ITestListenerDemo">
        <classes>
            <class name="BaseTest"/>
            <class name="CustomListener"/>
            <class name="Screenshot"/>
        </classes>
    </test>
</suite>